<div class="container color-dark">
  <div class="col">
    <p>Groups</p>
  </div>
  
</div>

<div class="container color-light" >
  <div class="col">
      <p class="life-container" *ngFor="let group of groups;">
        <button (click)= "deleteGroup(group.Id)">x</button>
          <a>{{ group.Id }}. {{group.Name}} {{group.Description}}</a>
        <!-- I want to climb a mountain. -->
      </p>
    </div>
    <div class="col">
        <p>Add new Group</p>
        <form>
          <input type="text" name="groupName" class="txt" placeholder="Name" required>
          <input type="text" name="groupDescription" class="txt" placeholder="Description">

          <input type="submit" class="btn" value = "ADD" (click)="addGroup(groupName,groupDescription)">
                                       <!-- value = {{btnText}} -->
        </form>
      </div>
</div>