<div class="container color-dark">
  <div class="col">
    <p>Members</p>
  </div>

</div>

<div class="container color-light">
  <div class="col">
    <table>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Birthday</th>
        <th>Email</th>
        <th>Token</th>
        <th>IsAdmin</th>
        <th>CreatedDate</th>
        <th>ModifyDate</th>
      </tr>
      <tr *ngFor="let member of members">
        <td>{{member.Id}}</td>
        <th>{{member.Name}}</th>
        <th>{{member.Gender}}</th>
        <th>{{member.Birthday}}</th>
        <th>{{member.Email}}</th>
        <th>{{member.Token}}</th>
        <th>{{member.IsAdmin}}</th>
        <th>{{member.CreatedDate}}</th>
        <th>{{member.ModifyDate}}</th>
      </tr>
    </table>
  </div>
</div>
